@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* blogs (temporary) */

.blogSearchTitle {
  @apply text-xl font-bold mb-2;
}

.blogItem {
  @apply border-2 p-2 rounded-md;
}

.blogItem:hover {
  @apply shadow-md shadow-gray-400;
}

.flatItem {
  @apply border-2 p-1 rounded-md bg-white;
}

.flatItem:hover {
  @apply shadow-md shadow-gray-400;
}

#newTagItem {
  @apply border-gray-500
}

#newTagItem:hover {
  @apply bg-white text-black;
}

.tagItem {
  @apply border-2 p-1 rounded-md bg-white has-[:checked]:bg-gray-400 has-[:checked]:text-white;
}

.tagItem:hover {
  @apply bg-gray-400 text-white;
}

.blogItemTitle {
  @apply font-bold;
}

.blogSearch {
  @apply border-2;
}

/* blog - upvotes and downvotes */

.rateButton {
  @apply border-2 rounded-md
}

.rateButton.upvote:hover {
  @apply bg-green-400;
}

.rateButton.downvote:hover {
  @apply bg-gray-400;
}

.rateButton.upvote.rateSelected {
  @apply bg-green-400;
}

.rateButton.downvote.rateSelected {
  @apply bg-gray-400;
}